body{
    margin: 0;
    font-family: "Segoe UI" , sans-serif;
}

.navbar{
    position: sticky;
    height: 6vh;
}

.wrapper{
    background: rgb(24,18,43);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content-info{
    color: white;
    display: flex;
}

.content-paragraph{
    background: rgb(57,48,83);
    padding: 10px;
    width: 50%;
}

.content-paragraph > h1{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.content-paragraph > p{
    font-size: 20px;
    line-height: 2;
}

.intro-paragraph-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.intro-paragraph-img > img{
    width: 300px;
    height: 250px;
    padding: 30px;
}

.content-reversed{
    display: flex;
    flex-direction: row-reverse;
}

.ai-definition{
    margin-left: 3%;
    padding-right: 1%;
}


.divider{
    align-self: stretch;
    height: 100px;
    background: dodgerblue;
}


