body{
    background-color: #18122B;
}
header{
    top: 0;
    left: 0;
    position:fixed;
    width:100%;
    height:6%;
    padding:15px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #635985;
}
.letter-color{
    color:pink;
    font-style:bold;
    font-size:40px;

}
header h2{
    color:white;
    position:left;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Segoe UI';
    letter-spacing:3px;
}
header ul{
    display:flex;
    align-items: center;

}
header ul li{
    font-size: 15px;
    color: black;
    list-style: none;
    margin-left:10px;
}
header ul li a {
    text-decoration: none;
    padding:6px 15px;
    color:white;
    border-radius:20px;
}
header ul li a:hover{
    background: #fff;
    color:#2b1055;
}
button{
    border:none;
    padding:4px 12px;
    border-radius:30px;
    color:#18122B;
    font-weight:bold;
    font-size:15px;
    margin-right: 60px;
}
.title {
    margin: 300px 20px 300px 20px ;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(198, 208, 240, 0.8), -3px 0px 7px rgba(41, 54, 60, 0.596), 0px 4px 7px rgba(81,67,21,0.8);
  }
.containerFirst{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}

.divTexts{
    
    margin-top: 200px;
    background-color: #393053;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.texts{
    color: white;
    font-family: 'Segoe UI';
    margin-top: 26px;
    font-size: 17px;
}
.AlanTuring{

    max-width: 150px;
    border: 2px solid #635985;
    border-radius: 50%;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containerSecond{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    
    
}
.years{
    margin-top: 270px;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 3px 15px #c5c5c5,-2px 1px 30px #fffdfe;
}
.containerThird{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    
    
}
.containerFourth{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}
.containerFifth{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    
    
}
.containerSix{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}
.music{
    margin-top: 80px;
}
.clickme{
    color: white;
    font-family: 'Segoe UI';
}
.future{
    padding-top:150px;
    color:white;
    font: size 100px;
    text-align:center;
}
.start{
    color:white;
    align-content: center; 
    padding-top:90px;
}

.futureText{
    padding-top: 10px;
    color:white;
    text-align:left;
    padding:2px 2px;
    text-align:justify;
    line-height: 20px;
   
    
}
.container{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content:center;
    border-spacing: 50px;
    margin:20px;
    padding-top:10px;
}
.item{
    border:2px solid;
    border-radius:15px;
    background-color:#635985;
    color:white;
    align-items:center;
    margin:3px 20px;
    padding:20px;
    width:100%;
}
.imageFuture{
    width:150px;
    height:150px;
   
}
.AINow{
    
    border: 2px solid #635985;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.AINowTitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(198, 208, 240, 0.8), -3px 0px 7px rgba(41, 54, 60, 0.596), 0px 4px 7px rgba(81,67,21,0.8);
}
.divTextsRound{
    
    
    margin: 0 auto;;
    background-color: #393053;
    padding: 50px;
    border-radius: 50%;
    text-align: center;
    width: 600px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}
.textsRound{
    color: white;
    font-family: 'Segoe UI';
    margin-top: 60px;
    font-size: 20px;
}
.titleTextsRoundFirst{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}
.titleTextsRoundSecond{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}


