nav{
    top: 0;
    left: 0;
    position:fixed;
    width:100%;
    height:6%;
    padding:15px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #635985;
}
body {
    background-color: #18122B;
}
.letter-color{
    color:pink;
    font-style:bold;
    font-size:40px;

}
header h2{
    color:white;
    position:left;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Segoe UI';
    letter-spacing:3px;
}
header ul{
    display:flex;
    align-items: center;

}
header ul li{
    font-size: 15px;
    color: black;
    list-style: none;
    margin-left:10px;
}
header ul li a {
    text-decoration: none;
    padding:6px 15px;
    color:white;
    border-radius:20px;
}
header ul li a:hover{
    background: #fff;
    color:#2b1055;
}
button{
    border:none;
    padding:4px 12px;
    border-radius:30px;
    color:#18122B;
    font-weight:bold;
    font-size:15px;
    margin-right: 60px;
}




.future {
    padding-top: 150px;
    color: white;
    font: size 100px;
    text-align: center;
}

.start {
    color: white;
    align-content: center;
    padding-top: 90px;
}

p {
    padding-top: 10px;
    color: white;
    text-align: left;
    padding: 2px 2px;
    text-align: justify;


}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    border-spacing: 50px;
    margin-top:200px;
    
}

.item {
    border: 2px solid;
    border-radius: 15px;
    background-color: #635985;
    color: white;
    align-items: center;
    margin: 3px 20px;
    padding: 20px;
    width: 100%;
}

img {
    width: 150px;
    height: 150px;

}




.title {
    margin: 200px 20px 300px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(198, 208, 240, 0.8), -3px 0px 7px rgba(41, 54, 60, 0.596), 0px 4px 7px rgba(81, 67, 21, 0.8);
}

.containerFirst {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.divTexts {

    margin-top: 200px;
    background-color: #393053;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.texts {
    color: white;
    font-family: 'Segoe UI';
    margin-top: 26px;
    font-size: 17px;
}

.AlanTuring {

    max-width: 150px;
    border: 2px solid #635985;
    border-radius: 50%;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerSecond {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;


}

.years {
    margin-top: 270px;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 3px 15px #c5c5c5, -2px 1px 30px #fffdfe;
}

.containerThird {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;


}

.containerFourth {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;


}

.containerFifth {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;


}

.containerSix {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;


}

.music {
    margin-top: 80px;
}

.clickme {
    color: white;
    font-family: 'Segoe UI';
}

.future {
    padding-top: 150px;
    color: white;
    font: size 100px;
    text-align: center;
}

.start {
    color: white;
    align-content: center;
    padding-top: 90px;
}

.futureText {
    padding-top: 10px;
    color: white;
    text-align: left;
    padding: 2px 2px;
    text-align: justify;
    line-height: 20px;


}

.container {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-spacing: 50px;
    margin: 20px;
    padding-top: 10px;
}

.item {
    border: 2px solid;
    border-radius: 15px;
    background-color: #635985;
    color: white;
    align-items: center;
    margin: 3px 20px;
    padding: 20px;
    width: 100%;
}

.imageFuture {
    width: 150px;
    height: 150px;

}

.AINowImage {

    border: 2px solid #635985;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.AINowTitle {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(198, 208, 240, 0.8), -3px 0px 7px rgba(41, 54, 60, 0.596), 0px 4px 7px rgba(81, 67, 21, 0.8);
}

.divTextsRound {


    margin: 0 auto;
    margin-top: 50px;
    background-color: #393053;
    padding: 50px;
    border-radius: 50%;
    text-align: center;
    width: 600px;
    height: 600px;
    border: 4px solid rgba(198, 208, 240, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}

.textsRound {
    color: white;
    font-family: 'Segoe UI';
    margin-top: 60px;
    font-size: 20px;
}

.titleTextsRoundFirst {
    color: rgba(198, 208, 240, 0.8);
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
}

.titleTextsRoundSecond {
    color: rgba(198, 208, 240, 0.8);
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.titleTextsRoundThird {
    color: rgba(198, 208, 240, 0.8);
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 100px;
}

.divTextsChatgpt {

    margin-top: 200px;
    background-color: #393053;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.chatgptImage {

    max-width: 300px;
    height: 300px;
    border: 2px solid #635985;
    border-radius: 50%;
    display: block;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerFirstChatgpt {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -180px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* font-family: "Monument Extended", Arial, Helvetica, sans-serif; */
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% ;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(images/header.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    margin-top: 200px;
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: #635985;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color:white;
}

/*homepage*/
.wrapper{
    background: rgb(24,18,43);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.content-info{
    color: white;
    display: flex;
}

.content-paragraph{
    background: rgb(57,48,83);
    padding: 10px;
    width: 50%;
}

.content-paragraph > h1{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.content-paragraph > p{
    font-size: 20px;
    line-height: 2;
}

.intro-paragraph-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.intro-paragraph-img > img{
    width: 300px;
    height: 250px;
    padding: 30px;
}

.content-reversed{
    display: flex;
    flex-direction: row-reverse;
}

.ai-definition{
    margin-left: 3%;
    padding-right: 1%;
}
