nav{
    top: 0;
    left: 0;
    position:fixed;
    width:100%;
    height:6%;
    padding:15px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #635985;
}

.letter-color{
    color:pink;
    font-style:bold;
    font-size:40px;

}
header h2{
    color:white;
    position:left;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Segoe UI';
    letter-spacing:3px;
}
header ul{
    display:flex;
    align-items: center;

}
header ul li{
    font-size: 15px;
    color: black;
    list-style: none;
    margin-left:10px;
}
header ul li a {
    text-decoration: none;
    padding:6px 15px;
    color:white;
    border-radius:20px;
}
header ul li a:hover{
    background: #fff;
    color:#2b1055;
}
button{
    border:none;
    padding:4px 12px;
    border-radius:30px;
    color:#18122B;
    font-weight:bold;
    font-size:15px;
    margin-right: 60px;
}











html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* font-family: "Monument Extended", Arial, Helvetica, sans-serif; */
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% ;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(images/header.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: #635985;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color:white;
}

/*homepage*/
.wrapper{
    background: rgb(24,18,43);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.content-info{
    color: white;
    display: flex;
}

.content-paragraph{
    background: rgb(57,48,83);
    padding: 10px;
    width: 50%;
}

.content-paragraph > h1{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.content-paragraph > p{
    font-size: 20px;
    line-height: 2;
}

.intro-paragraph-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.intro-paragraph-img > img{
    width: 300px;
    height: 250px;
    padding: 30px;
}

.content-reversed{
    display: flex;
    flex-direction: row-reverse;
}

.ai-definition{
    margin-left: 3%;
    padding-right: 1%;
}
