body{
    background-color: #18122B;
}
header{
    top: 0;
    left: 0;
    position:fixed;
    width:100%;
    height:6%;
    padding:15px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #635985;
}
header h2{
    color:white;
    position:left;
    font-weight: 500;
    font-size: 30px;
    font-style: Segoe UI;
    letter-spacing:3px;
}
header ul{
    display:flex;
    align-items: center;

}
header ul li{
    font-size: 15px;
    color: black;
    list-style: none;
    margin-left:10px;
}
header ul li a {
    text-decoration: none;
    padding:6px 15px;
    color:white;
    border-radius:20px;
}
header ul li a:hover{
    background: #fff;
    color:#2b1055;
}
button{
    border:none;
    padding:4px 12px;
    border-radius:30px;
    color:#18122B;
    font-weight:bold;
    font-size:15px;
    margin-right: 60px;
}
.title {
    margin: 300px 20px 300px 20px ;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(198, 208, 240, 0.8), -3px 0px 7px rgba(41, 54, 60, 0.596), 0px 4px 7px rgba(81,67,21,0.8);
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}

.divTexts{
    
    margin-top: 200px;
    background-color: #393053;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.texts{
    color: white;
    font-style: Segoe UI;
    margin-top: 26px;
    font-size: 17px;
}
.AlanTuring{

    max-width: 150px;
    border: 2px solid #635985;
    border-radius: 50%;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containerSecond{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    
    
}
.years{
    margin-top: 270px;
    font-size: 70px;
    font-weight: bold;
     color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 3px 15px #c5c5c5,-2px 1px 30px #fffdfe;
}
.containerThird{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    
    
}
.containerFourth{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    
    
}
.containerFifth{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    
    
}
